<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template jumbotron">
              <h1>
                  Ups!</h1>
              <h2>Error 404</h2>
              <div class="error-details">
                Disculple, ha ocurrido un error, la página solicitada no se encuentra!                  
              </div>
              <div class="error-actions">
                  <a routerLink="/" class="btn btn-primary btn-lg"><i class="fa fa-home" aria-hidden="true"></i>
                      Ir al inicio </a>
                      <a [href]="'mailto:fede.arribas@gmail.com'" class="btn btn-light btn-lg"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contactar Soporte</a>
              </div>
          </div>
      </div>
  </div>
</div>
