<nav class="navbar fixed-top navbar-toggleable-md navbar-light nav-styles">
	<div class='container'>	
		
		<ul class="nav">
			<li class="navbar-brand"><a routerLink=""><i class="fa fa-paw logo" aria-hidden="true"></i></a></li>
			<li class='nav-item'>			
				<a class='nav-link' routerLink="">Home</a>
			</li>
			<li class='nav-item' routerLinkActive="active">
				<a class='nav-link' routerLink="/adoptions">Adopciones</a>
      </li>
      <li class='nav-item' routerLinkActive="active">
        <a class='nav-link' routerLink="/lost">Perdidos</a>
      </li>
		</ul>
	</div>
</nav>



