<div class="row">
  <div class="col-md-6 mr-md-auto ml-md-auto">
      <div class="card">    
          <div class="card-body">
            <div class="text-center">
              <img src="../../../assets/images/yoadopto-logo.png" class="mb-2" width="60px" alt="">
              <h3 class="card-title">Ingresar</h3>
          </div>
            <hr>
            <form (ngSubmit)="onSignInSubmit()" #f="ngForm">        
              <div class="row">
                <div class="col-md-12">
        
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email"
                          type="email"
                          required
                          email
                          name='email' 
                          [(ngModel)]="signInUser.email" 
                          class="form-control">      
                  </div>
            
                <div class="form-group">
                  <label for="password">Contraseña</label>
                  <input id="password" 
                        type="password" 
                        required  
                        name='password' 
                        [(ngModel)]="signInUser.password" 
                        class="form-control">          
                </div>

                <p> No tienes una cuenta? Regístrate <a routerLink="/register">aquí</a></p>
                
                <div class="form-group">
                  <button type="submit" 
                          [disabled]="!(f.valid)"
                          class="btn btn-info"><i class="fa fa-sign-in" aria-hidden="true"></i> Acceder 
                  </button>
                </div>
                <hr>
                  <div class="form-group">
                    <button 
                      type="button" 
                      class="loginBtn loginBtn--facebook clickable"
                      (click)="loginWithFacebook()">
                        Ingresar con Facebook
                    </button>
                </div>
                </div>
              </div>    
            </form>
        
          </div>
        </div>
        
  </div>
</div>

