<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <form [formGroup]="adoptionForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" id="name" formControlName="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="description">Descripción</label>
        <textarea type="text" id="description" formControlName="description" rows="5" class="form-control">          
        </textarea>
      </div>
      <div class="form-group">
        <label for="image">Imagen</label>
        <input type="text" id="image" formControlName="image" class="form-control">
      </div>
      <div class="form-group">
        <label for="name">Edad</label>
        <div class="row">
          <div class="col-md-6">
            <input type="number" id="age" formControlName="age" class="form-control">
          </div>
          <div class="col-md-6">
            <select name="ageUnit" id="ageUnit" formControlName="ageUnit" class="form-control">
              <option value="Meses">Meses</option>
              <option value="Años">Años</option>
            </select>
          </div>
        </div>
      </div>  
      <div class="form-group">
        <label for="phone">Teléfono</label>
        <input type="text" id="phone" formControlName="phone" class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
</div>