<div class="card card-container">

  <form [formGroup]="adoptionForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-6">

        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" id="name" formControlName="name" [(ngModel)]="adoption.name" class="form-control">
        </div>
        <div class="form-group">
          <label for="image">Imagen</label>
          <input type="file" id="image" accept="image/*" formControlName="image" (change)="readUrl($event)" [(ngModel)]="adoption.image" class="form-control">
        </div>
        <div class="form-group">
          <label for="description">Descripción</label>
          <textarea type="text" id="description" [(ngModel)]="adoption.description" formControlName="description" rows="5" class="form-control">          
          </textarea>
        </div>
        <div class="form-group">
          <label for="name">Edad</label>
          <div class="row">
            <div class="col-md-6">
              <input type="number" id="age" formControlName="age" [(ngModel)]="adoption.age" class="form-control">
            </div>
            <div class="col-md-6">
              <select name="ageUnit" id="ageUnit" formControlName="ageUnit" [(ngModel)]="adoption.age_measurement_unit" class="form-control">
                <option value="Meses">Meses</option>
                <option value="Años">Años</option>
              </select>
            </div>
          </div>
        </div>  
        <div class="form-group">
          <label for="phone">Teléfono</label>
          <input type="tel" id="phone" formControlName="phone" [(ngModel)]="adoption.contact_phone" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email" [(ngModel)]="adoption.contact_email" class="form-control">
        </div>        
      </div>

      <div class="col-md-6">
        <h1 class="display-4">{{ adoption.name }}</h1>
        <img [src]="imageUrl" alt="" width="100%;" class="rounded-top rounded-bottom">
        <p class="lead">{{ adoption.description }}</p>
        <p *ngIf="adoption.age && adoption.age_measurement_unit">{{ adoption.age}}  {{adoption.age_measurement_unit }} de edad</p>
        <p> <i class="fa fa-mobile" aria-hidden="true" *ngIf="adoption.contact_phone" ></i> <span class="card-text">{{ adoption.contact_phone }}</span></p>
        <p> <i class="fa fa-envelope-o" aria-hidden="true" *ngIf="adoption.contact_email"></i> <span class="card-text">{{ adoption.contact_email }}</span></p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mr-md-auto ml-md-auto">
        <button type="submit" class="btn btn-success btn-block" [disabled]="!adoptionForm.valid" >Enviar</button>
      </div>
    </div>
  </form>
</div>

   
