<div class="card" style="width: 350px;">
  <div class="center-cropped">
  <a 
    routerLink="/adoptions/{{ adoption.id }}">
    <img src="{{ adoption.image }}" 
    alt="{{ adoption.name }}">
  </a>
  </div>
  <div class="card-body">
    <span 
      class="display-4 pet-name"
      ngbTooltip="{{ adoption.name }}">
      {{( adoption.name.length>8)? (adoption.name | slice:0:8)+'...':(adoption.name) }}
    </span>
    <span 
      *ngIf="adoption.adopted" 
      class="badge badge-pill badge-success pull-right">
      Adoptado!
    </span>
    <p 
      class="card-text desc" 
      ngbTooltip="{{ adoption.description }}">
      {{( adoption.description.length>35)? (adoption.description | slice:0:35)+'...':(adoption.description) }}
    </p>
    <p 
      class="card-text">
      <small class="text-muted">
        Publicado el {{ adoption.created_at | date:"dd/MM/yyyy HH:mm:ss" }}
      </small>
    </p>
  </div>
</div>
