<div class="div" *ngIf="adoptions && adoptions?.length > 0">
  <div class="col-lg-7 ml-lg-auto mr-lg-auto col-md-10 ml-md-auto mr-md-auto">
    <app-adoption-item
      *ngFor="let adoption of adoptions| paginate: { itemsPerPage: 15, currentPage: p }" 
      [adoption]="adoption">
    </app-adoption-item>
  </div>

  <hr>

  <div>  
    <pagination-controls
      class="adoption-pagination"
      style="color:white;"
      (pageChange)="p = $event"
      previousLabel="Anterior"
      nextLabel="Siguiente">
    </pagination-controls>
  </div>
</div>
