<div class="row">
  <div class="col-sm-10 ml-sm-auto mr-sm-auto">
    <form (ngSubmit)="onSubmit()" #f="ngForm">

      <div class="form-group">
        <label for="message">Escribir comentario:</label>
        <textarea 
          type="text" 
          placeholder="Escribe aquí tu comentario..." 
          id="message" name="message" 
          class="form-control" 
          rows="3"
          ngModel
          required ></textarea>
      </div>    
        <button type="submit" class="btn btn-success btn-sm clickable float-md-right"><i class="fa fa-commenting-o" aria-hidden="true"></i> Comentar</button>
    </form>

  </div>
</div>
