/* .nav-styles {
  background-color: #8BC34A;
}

.nav-styles a {
  color:white;
}

.nav-styles a:hover {
  color: #c9c9c9;
}

.dropdown-links a {
  color: #1a1b22;
}

.dropdown-links a:hover {
  color: #252830;
}

.active>.nav-link {
  color: #795548;
} */

.logo {
  color: #795548;
  font-size: 1.5em;
}
/* 
button.dropdown {
  color:white;
} */

.white-text {
  color:white !important;
}