.card-container {
  padding:30px;
}

.active {
  background-color: #28a745;
  border-color: #28a745;
}

/* div.center-cropped {
  width: 250px !important;
  height: 250px !important;
  overflow:hidden;
}
div.center-cropped img {
  height: 100% !important;
  min-width: 100% !important;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
 */