<div class="row">
  <div class="col-md-12">
    <h1 class="display-4 heading">En Adopción</h1>
  </div>
  <div class="col-md-12" *ngIf="authService.userSignedIn()">
    <button 
      type="button" 
      class="btn btn-success clickable" 
      routerLink="new">
      <i class="fa fa-paw" aria-hidden="true"></i> 
      Publicar
    </button>
  </div>
</div>
<hr class="home-divisor">
<!-- <div class="loader centered" [hidden]="isLoading"></div> -->
<app-adoption-list *ngIf="adoptions && adoptions.length > 0" [adoptions]="adoptions"></app-adoption-list>
