<div class="container">
  <div class="text-center content" style="margin-top: 25%;">
    <div>
      <h1 class="display-3">Bienvenidos a Yo Adopto,</h1>
      <p class="lead">el lugar donde encontrarás a tu futura mascota!</p>
    </div>  
    <br>    
  </div>
      <div class="text-center">     
        <button routerLink="adoptions" class="btn btn-outline-success">Ver Adopciones</button>
        &nbsp;&nbsp;
        <button routerLink="lost" class="btn btn-outline-warning">Ver Perdidos</button>
    </div>
</div>
