<div class="container">
  <div class="text-center content" style="margin-top: 25%;">
    <div>
      <h1 class="display-3">Bienvenidos a Yo Adopto,</h1>
      <p class="lead">el lugar donde encontrarás a tu futura mascota!</p>
    </div>  
    <br>    
  </div>
      <div class="text-center">     
        <button 
          routerLink="adoptions" 
          class="btn btn-outline-success"
          ngbPopover="Llena tu hogar de felicidad salvando una vida :)"
          triggers="mouseenter:mouseleave" 
          placement="left"
          popoverTitle="Adopta">Ver Adopciones
        </button>
        &nbsp;&nbsp;
        <button 
          routerLink="lost" 
          class="btn btn-outline-warning"
          ngbPopover="Se perdió tu mascota o encontraste una perdida? Este es el lugar!" 
          triggers="mouseenter:mouseleave" 
          placement="right"
          popoverTitle="Perdidos">Ver Perdidos</button>
    </div>
</div>
